# Flutter & Dart related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
android/.gradle/
android/app/
ios/Flutter/*
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
linux/flutter
pubspec.yaml
lib/firebase_options.dart

# OS generated
.DS_Store
Thumbs.db

# Other
*.iml
*.lock
*.log
*.tmp

.flutter-plugins-dependencies
android/local.properties
.flutter-plugins
.fvm